get_prop(platform_app, vendor_default_prop)

allow platform_app recovery_service:service_manager find;

# Allow FOD HAL service to be found
hal_client_domain(platform_app, hal_lineage_fod)

