type xiaomi_settings, domain;

app_domain(xiaomi_settings)

# Allow xiaomi_settings to find hal_touchfeature_xiaomi_hwservice
allow xiaomi_settings hal_touchfeature_xiaomi_hwservice:hwservice_manager find;

# Allow binder communication with hal_touchfeature_xiaomi_default
binder_call(xiaomi_settings, hal_touchfeature_xiaomi_default)
